*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 90px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    
}
.text1{
    display: flex;
}
.pic{
    margin-left: 10px;
}
.image1{
    border: px;
}
